httpx
lxml
rapidfuzz

sentence-transformers
python-multipart
fastapi
uvicorn
sqlalchemy
asyncpg
python-dotenv
pgvector
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
supabase
langchain-ollama==0.1.0
langchain-core==0.2.20
pdfplumber